:host {
  background: var(--header-bg);
  color: var(--header-text);

  --panel-bg: #e8e6e6;
  --bg: #ffffff;
  --panel-text: #000000;

  body.dark-theme & {
    --panel-bg: #454444;
    --bg: #1f1f1f;
    --panel-text: #ffffff;
  }
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg, #f8f9fa);
}

.sidebar {
  display: flex;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

::ng-deep  .dx-tabs-vertical {
  min-width: 120px;
}

.content {
  padding: 20px;
  overflow-y: auto;
}
