:host {
  background: var(--header-bg);
  color: var(--header-text);

  --panel-bg: #e8e6e6;
  --bg: #ffffff;
  --panel-text: #000000;

  body.dark-theme & {
    --panel-bg: #454444;
    --bg: #1f1f1f;
    --panel-text: #ffffff;
  }
}

.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--bg, #f8f9fa);
}

.sidebar {
  width: 200px;
  background-color: var(--panel-bg, #f8f9fa);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
