<div class="converter-container">
  <dx-toolbar>
    <dxi-item
      location="after"
      widget="dxButton"
      locateInMenu="auto"
      [options]="refreshButtonOptions"
    >
    </dxi-item>

    <dxi-item
      location="after"
      widget="dxButton"
      locateInMenu="auto"
      [options]="resetButtonOptions"
    >
    </dxi-item>
  </dx-toolbar>

  <!-- Основной горизонтальный контейнер -->
  <dx-box direction="row" width="100%" height="auto">
    <!-- Левая зона -->
    <dxi-item [ratio]="4">
      <dx-box direction="col" width="100%" class="box-left">
        <!-- Поле для ввода количества -->
        <dxi-item [ratio]="1">
          <dx-box direction="row" width="100%" class="input-group">
            <dxi-item [ratio]="1">
              <dx-number-box
                [(value)]="amount"
                (onValueChanged)="onParameterChange()"
                [min]="1"
                [placeholder]="'Enter quantity'"
                [showSpinButtons]="true"
                width="100px"
              ></dx-number-box>
            </dxi-item>
            <dxi-item [ratio]="3">
              <dx-select-box
                [dataSource]="currencies"
                displayExpr="name"
                valueExpr="id"
                [(value)]="selectedId"
                (onValueChanged)="onSymbolChange($event)"
                [placeholder]="'Select currency'"
                [searchEnabled]="true"
                [searchExpr]="['name', 'symbol']"
                itemTemplate="item"
                class="currency-select"
              >
                <div *dxTemplate="let data of 'item'">
                  {{ data.name }} <span class="symbol">({{ data.symbol }})</span>
                </div>
              </dx-select-box>
            </dxi-item>
          </dx-box>
        </dxi-item>

        <dxi-item [ratio]="1" class="info">
            1 {{ selectedCurrencySymbol }} = {{ selectedCurrencyPrice }} {{ convertTo }}
        </dxi-item>
      </dx-box>
    </dxi-item>
    <dxi-item [ratio]="1">
      <dx-button icon="codeblock" width="40"></dx-button>
    </dxi-item>
    <!-- Правая зона -->
    <dxi-item [ratio]="4">
      <dx-box direction="col" width="100%" class="box-right">
        <dxi-item [ratio]="1">
          <dx-select-box
            [items]="currencies"
            displayExpr="name"
            valueExpr="symbol"
            [(value)]="convertTo"
            (onValueChanged)="onParameterChange()"
            [placeholder]="'Select currency'"
            [searchEnabled]="true"
            class="currency-select"
          ></dx-select-box>
        </dxi-item>

        <!-- Подсказка с информацией о текущей обратной цене -->
        <dxi-item [ratio]="1" class="info">
          1 {{ convertTo }} = {{ reverseCurrencyPrice }} {{ selectedCurrencySymbol }}
        </dxi-item>

        <dxi-item [ratio]="1" class="result">
          {{ convertedPrice || '0.00' }} {{ convertTo }}
        </dxi-item>
      </dx-box>
    </dxi-item>
  </dx-box>
</div>
